.skills{
    position: relative;
    overflow: hidden;
    width: 100%;
    color: #fff;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 280px;
    padding-top: 5rem;
}

.skills::before{
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../public/img/projects.avif") center / cover no-repeat;
    filter: blur(5px);
    transform: scale(1.05);
    z-index: 0;
}

.skills::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(230deg, #5d63a2 10% , #525559 50%);
    opacity: 0.55;
    z-index: 1;
}

.skills > *{
    position: relative;
    z-index: 2;
}

.skills h3{
    font-weight: 800;
    border-bottom: 3px solid #00abf4;
    font-size: 21px;
    padding-bottom: 3px;
    width: fit-content;
}

.skills p{
    font-weight: 400;
    font-size: 16px;
}

.programming, .frameworks-languages, .social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill{
    display: flex;
    align-items: center;
    gap: 10px;
}

.skills-container .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.frameworks-languages h3{
    margin-bottom: 10px;

}

.skill img{
    width: 30px;
    height: 30px;
}
