footer{
    font-family: "Lato", sans-serif;
    background: linear-gradient(180deg, #242426, #46474A 85%);
    min-height: 270px;
    display: flex;
    flex-direction: column;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
}

.footer-content .text p{
    width: 420px;
}

footer img{
    width: 65px;
    height: 65px;
}


.footer-content .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content .text a{
    color: #fff;
}

.footer-content .text img{
    border-radius: 7px;
}

footer .contact .icons{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

footer .contact{
    display: flex;
    gap: 10rem;
}

footer .contact p{
    color: #fff;
}

footer .contact img{
    width: 50px;
    height: fit-content;
}

footer .icons{
    display: flex;
    flex-direction: column;
}

footer .icons-media{
    display: flex;
    align-items: center;
    gap: 25px;
}

footer .icons-media a:nth-child(2) img{
    background-color: #fff;
    border-radius: 60px;
}

footer .icons-media a:nth-child(3) img{
    height: 50px;
    width: 55px;
}

footer .copyright{
    background-color: black;
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: 8px 0;
    font-size: 16px;
    margin-top: auto;
}

footer .contact .logo-ap{
    width: 120px;
    height: fit-content;
    border-radius: 9999px;
}

.icons-project{
    display: flex;
    align-items: center;
    gap: 1rem;
}


@media (max-width: 1000px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    footer .contact{
        display: flex;
        align-items: center;
        gap: 4rem;  
    }
}

@media (max-width:480px){
    footer .copyright{
        font-size: 14px;
    }

    footer .text{
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 200px;
    }

    footer .text p{
        text-align: center;
        font-size: 14px;
    }

    footer .contact{
        display: flex;
        flex-direction: column;
    }
}