.hero-content {
    position: relative;
    color: #fff;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-content::before{
    content: "";
    position: absolute;
    inset: 0;
      background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/img/herocontent.webp") center / cover no-repeat;
    filter: blur(2px);
    transform: scale(1.05);
    z-index:-1;
}

.hero-content h1{
    font-weight: 800;
    font-size: 44px;
}

.hero-content h3, .hero-content h4{
    font-weight: 500;
}

.hero-content h3{
    font-size: 27px;
}

.hero-content h4{
    font-size: 18px;
}

.hero-content .div-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div-content .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-content .download-cv{
    font-family: "League Spartan", sans-serif;
    text-decoration: none;
    color: #000;
    background-color: #d9d9d9;
    padding: 19px 22px;
    border-radius: 10px;
    width: 145px;
    height: 50px;
    transition: 0.3s ease-in-out;
}

.hero-content .download-cv:hover{
    background-color: #000;
    color: #fff;
}

@media(max-width: 600px){
    .hero-content h1{
        font-size: 39px;
    }

    .hero-content h3{
        font-size: 23px;
    }
}

@media(max-width: 450px){
    .hero-content h1{
        font-size: 30px;
    }

    .hero-content h3{
        font-size: 18px;
    }

    .hero-content h4{
        font-size: 14px;
    }

    .hero-content .download-cv{
        font-size: 14px;
        width: 135px;
        height: 45px;
        padding: 17px 22px;
    }
}