@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
    scroll-behavior: smooth;
}

header{
    background-color: #000;
    color: #fff;
    height: 100px;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 27px 50px;
    width: 97%;
}

nav .name{
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .name img{
    width: 50px;
    height: 50px;
}

nav .name h2{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 23px;
}

nav .links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 41px;
}

nav .links a{
    text-decoration: none;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
}

.toggle{
    width: 35px;
    height: 35px;
    display: none;
}

.toggle img{
    width: 100%;
}

.menu-responsive{
    list-style: none;
    display: none;
}

.menu-responsive a{
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    color: #fff;

}

@media(max-width: 780px){
    nav .links{
        display: none;
    }

    .toggle{
        display: block;
        margin-top: 8px;
    }
}

@media(max-width: 450px){
    nav .name h2{
        font-size: 17px;
    }

    nav .name img{
        width: 45px;
        height: 45px;
    }

    .toggle{
        width: 30px;
        height: 30px;
    }

    nav{
        padding: 27px 35px;
    }
}