@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header{
    background-color: #000;
    color: #fff;
    height: 100px;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 25px;
    width: 94%;
}

nav .name{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .name h2{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 27px;
}

nav .links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 41px;
}

nav .links a{
    text-decoration: none;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
}